
<div class="container">
    <div>
    <h1><span class="title-dekor">Особистий кабінет</span></h1>
   </div>
    <div class="wrapper">
        <div class="panel">
            <button class="btn" [ngClass]="{'active': dataVar}" (click)="data()">Особисті дані</button>
            <button class="btn" [ngClass]="{'active': historyVar}" (click)="history()">Історія замовлень</button>
          <button class="btn" [ngClass]="{'active': passVar}" (click)="changePass()">Зміна паролю</button>
            <button class="btn" (click)="logout()">Вихід</button>
        </div>
        <div class="forma">
             <div class="inner-forma">
            <ng-container *ngIf="dataVar">
              <form class="form">
                 <h3>Особисті дані</h3>
                 <div class="input-row">
                 <input type="text" placeholder="*Ваше ім'я" class="inp" [value]="userName" >
                <input type="text" class="inp" placeholder="*Ваше прізвище" [value]="userSurname">
                 </div>
                 <input type="text" placeholder="*Ваш номер телефону" class="userinp" [value]="phone">
                 <input type="email" placeholder="*Ваш емайл" class="userinp" [value]="userEmail">
                </form>
                 <div class="adres">
                 <h3 style="margin-top: 20px;">Адреси</h3>
                 </div>
                 <div class="d-flex">
                    <input class="inp" placeholder="*Додати адресу" [(ngModel)]="addressValue" >
                    <button class="btnAqua" (click)="save()">ЗБЕРЕГТИ АДРЕСУ</button>
                 </div>
            
              </ng-container>
              <ng-container *ngIf="historyVar">
                <div style="margin-top: 50px;">
                     <ng-container *ngIf="empty">
                   <h3>Поки що ви не зробили жодного замовлення <span class="spanCatalog" [routerLink]="[ '' ]">перейти в каталог</span></h3>
               </ng-container>
               <ng-container *ngIf="!empty">
                <table>
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Дата і час</th>
                      <th>Тип доставки і адреса</th>
                      <th>Сума і тип оплати</th>
                      <th>Статус</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of arrCab; let i=index">
                      <td class="id">{{i+1}}</td>
                      <td class="date">{{order.date}}</td>
                      <td class="address">{{order.typeOrder}} | {{order.address}}  {{order.userHome}} {{order.userEntrance}} {{order.userStreetOrder}}</td>
                      <td class="payment">{{order.payment}} | {{order.suma}} грн</td>
                      <td class="status">{{order.status}}</td>
                      
                    </tr>
                  </tbody>
                </table>
               </ng-container>
               
                  </div>
              </ng-container>
          <ng-container *ngIf="passVar">
            <form >
              <h3>Зміна паролю</h3>
              <input type="text" placeholder="*Ваш поточний пароль" class="userinp">
              <input type="email" placeholder="*Новий пароль" class="userinp">
              <input type="email" placeholder="*Повторіть пароль" class="userinp">
              <div class="d-flex">
                <button class="btnAqua2">СКАСУВАТИ</button>
                <button class="btnAqua" (click)="pass()">ЗБЕРЕГТИ ЗМІНИ</button>
              </div>
            </form>
          </ng-container>
        </div>
        </div>
    </div>
</div>