<div class="wrapper">
  <div class="container">
    <h1><span class="title-dekor">Політика конфіденційності</span></h1>
    <p>
      Ця політика конфіденційності (надалі – Правила) створена адміністрацією
      веб-сайту
      <a [routerLink]="['']" style="color: red">https://mapizza.com.ua/</a>
      (надалі – Сайт) з метою визначення порядку та правил поводження з
      персональними даними та/або іншими даними (надалі – Дані) наданими
      користувачем та/або відвідувачем (надалі – Користувач) Сайту.
    </p>
    <h3>1.ЗАГАЛЬНІ ПОЛОЖЕННЯ</h3>
    <p>
      Використання Користувачем Сайту означає його безумовну згоду з цими
      Правилами та умовами обробки Даних Користувача. У разі незгоди з умовами
      Правил, Користувач повинен припинити використання Сайту. Правила
      застосовуються лише до цього Сайту. Адміністрація Сайту не контролює і не
      несе відповідальність за сайти третіх осіб, на які Користувач може перейти
      по посиланню, яке доступне на Сайті. Адміністрація сайту не перевіряє
      достовірність Даних, які надаються Користувачем Сайту. Погоджуючись з цими
      Правилами, Користувач дає дозвіл на збирання, зберігання, використання та
      розголошення своїх Даних, відповідно до цих Правил, Закону України «Про
      захист прав споживачів», Закону України «Про захист персональних даних»,
      Закону України «Про захист інформації в інформаційно-телекомунікаційних
      системах».
    </p>
    <h3>2.ЦІЛІ ЗБОРУ ДАНИХ КОРИСТУВАЧА.</h3>
    <p>
      Дані Користувача є інформацією з обмеженим доступом. На Сайті можуть
      збирати, зберігати та використовувати такі Дані Користувача: адреса
      електронної пошти (e-mail); номер мобільного телефону; прізвище, ім’я,
      по-батькові або будь-яке інше найменування Користувача яке буде вказано на
      Сайті; адресу доставки товарів та надання послуг, які замовлені
      Користувачем на Сайті; інші дані, які були надані Користувачем шляхом
      реєстрації на Сайті та/або здійснення замовлення на Сайті. Дані
      Користувача адміністрація Сайту може використовувати в цілях: реєстрації
      Користувача на Сайті; ідентифікації Користувача для оформлення замовлення
      на Сайті; надання Користувачеві доступу до персоналізованих ресурсів
      Сайту; встановлення з Користувачем зворотного зв’язку, включаючи напрямок
      повідомлень, запитів, що стосуються використання Сайту, надання послуг,
      продаж товарів, обробка запитів і заявок від Користувача; визначення
      місцезнаходження Користувача для забезпечення безпеки, запобігання
      шахрайства; підтвердження достовірності та повноти Даних, наданих
      Користувачем; повідомлення Користувача Сайту про стан замовлення; надання
      Користувачеві ефективної клієнтської і технічної підтримки при виникненні
      проблем, пов’язаних з використанням Сайту; надання Користувачеві, з його
      згоди, оновлень продукції, спеціальних пропозицій, інформації про ціни,
      розсилки новин та інших відомостей від імені Сайту або від імені партнерів
      Сайту в тому числі, але не обмежуючись, повідомлення Користувача про
      послуги та рекламні пропозиції за допомогою SMS, електронних повідомлень,
      пошти і т. д. надання доступу Користувачеві на сайти або сервіси партнерів
      з метою отримання продуктів, оновлень і послуг; поліпшення власних послуг,
      змісту Сайту та реклами.
    </p>
    <h3>3.РОЗКРИТТЯ ДАНИХ КОРИСТУВАЧА.</h3>
    <p>
      Ми лишаємо за собою право розкрити Дані Користувача для будь-якого з наших
      працівників, керівників, страхувальників, професійних радників, агентів,
      постачальників або субпідрядників, в об’ємі та цілях, визначених в цих
      Правилах. Ми лишаємо за собою право розкрити Дані Користувача для
      будь-якого члена нашої групи компаній в об’ємі та цілях, визначених у цих
      Правилах. Ми лишаємо за собою право розкрити Дані Користувача: в тих
      випадках, в яких цього від нас вимагає законодавство України; у зв’язку з
      будь-яким поточними або майбутніми судовими процесами; з метою
      встановлення, реалізації або захисту наших законних прав (включаючи
      надання інформації іншим сторонам задля запобігання шахрайству або
      зниження кредитних ризиків); покупцеві (або потенційному покупцеві)
      будь-якого бізнесу або активів, які ми продаємо (або збираємося продати);
      надання інформації правоохоронним та іншим державним органам у відповідь
      на їх офіційний запит щодо кримінального розслідування або передбачуваної
      протиправної діяльності. В інших випадках розкриття інформації про Дані
      Користувача відбувається за згодою такого Користувача. Ми не будемо
      розкривати Дані Користувача третім особам, за виключенням випадків,
      зазначених в цих Правилах та у законодавстві України.
    </p>
    <h3>4.ВИДАЛЕННЯ НАДАНИХ ДАНИХ.</h3>
    <p>
      При зміні даних Користувача, вказаних у пункті 2 цих Правил, а також якщо
      Користувач не хоче більше користуватися послугами сервісу Сайту, його дані
      підлягають зміні або видаленню. Сайт залишає за собою право
      використовувати дані Користувача з метою, для якої ця інформація була
      зібрана, протягом одного року після деактивації інформації.
    </p>
    <h3>5.БЕЗПЕКА.</h3>
    <p>
      На Сайті вжиті достатні заходи для захисту інформації та Даних, проте
      просимо прийняти до уваги, що абсолютно безпечного та безпомилкового шляху
      передачі даних мережею Інтернет не існує. Адміністрація Сайту не несе
      відповідальності за функціонування серверів, постачальників послуги
      доступу до мережі Інтернет, роботу третіх осіб, з вини яких може бути
      неможливий чи обмежений доступ до Сайту, можливий витік інформації, Даних
      з вини третіх осіб, а також за розголошення Користувачем своїх Даних, у
      т.ч. даних авторизації на Сайті, у мобільних застосунках, прикладних
      програмних інтерфейсах та застосуваннях.
    </p>
    <h3>6.ФАЙЛИ-COOKIES.</h3>
    <p>
      Сайт використовує файли-cookies. Cookie — це файл, що містить
      ідентифікатор (стрічку, яка складається з літер та цифр), і який
      надсилається веб-сервером до веб-браузеру, та зберігається браузером. В
      подальшому, ідентифікатор надсилається назад на сервер кожного разу, коли
      браузер запитує веб-сторінку з серверу. Файли-cookies можуть бути або
      «постійними» або «сеансові»: постійні будуть зберігатися браузером та
      будуть придатними до завершення терміну дії, якщо тільки не будуть
      видалені Користувачем завчасно; «сеансові» навпаки – будуть видалятися
      після завершення сеансу роботи з сайтом або після закриття браузеру.
      Файли-cookies зазвичай не містять жодної інформації, яка ідентифікує особу
      Користувача. Проте, Дані Користувача, які ми маємо, можуть бути пов’язані
      з інформацією, що зберігається та отримана від файлів-cookies. На нашому
      Сайті ми можемо використовувати файли-cookies для розпізнавання
      комп’ютера, коли Користувач відвідує Сайт / відстеження навігації
      Користувача по Сайту/ використання кошика користувача на Сайті /
      вдосконалення зручності користування Сайтом / аналізу використання Сайту /
      адміністрування Сайту / попередження шахрайства та вдосконалення безпеки
      Сайту / персоналізації Сайту для кожного Користувача / цільової реклами,
      яка може бути цікава окремим Користувачам. Файли-cookies, які можуть бути
      використані Сайтом, не можуть завдати шкоди пристроям Користувача. Статті
      на Сайті можуть містити вбудований вміст (наприклад: відео, зображення,
      статті тощо). Вбудований вміст з інших сайтів веде себе так само, як би
      Користувач відвідав інший сайт. Такі сайти можуть збирати дані про
      Користувача, використовувати файли-cookies, вбудовані додатки відстеження
      третіх сторін та стежити за вашою взаємодією з цим вбудованим вмістом.
      Зокрема відстежувати взаємодію з вбудованим вмістом, якщо у Користувача є
      обліковий запис і Користувач увійшов на Сайт.
    </p>
    <h3>7.ЗМІНИ ТА ПОПРАВКИ.</h3>
    <p>
      Ми лишаємо за собою право періодично вносити зміни та поправки в ці
      Правила, та публікувати їх нову редакцію на Сайті. Користувач повинен
      періодично перевіряти Сайт, щоб пересвідчитись, що розуміє зміст змін,
      внесених до цих Правил.
    </p>
  </div>
</div>
