@import "ngx-toastr/toastr";
@import "app/shared/styles/theme-material";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(25, 195, 25);
}
::selection {
  color: rgb(255, 255, 255);
  background: rgb(25, 195, 25);
}
body::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(25, 195, 25);
}
body::selection {
  color: rgb(255, 255, 255);
  background: rgb(25, 195, 25);
}
body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background-color: wheat;
  border: 1px solid gray;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:vertical {
  height: 14px;
}
body{
  overflow-x: hidden;
}
.cursor{
  cursor: url('assets/images/minipizza.png'),auto;
}