<div class="container">
  <button class="create" (click)="addAction()"><b>ДОДАТИ АКЦІЮ</b></button>
  <form
    [formGroup]="actionForm"
    class="add"
    *ngIf="addActionStatus"
    (ngSubmit)="saveNewAction()"
  >
    <input
      formControlName="name"
      name="name"
      type="text"
      placeholder="*Назва"
    />
    <input
      formControlName="title"
      name="title"
      type="text"
      placeholder="*Заголовок"
    />
    <textarea
      formControlName="description"
      name="description"
      placeholder="*Опис"
    ></textarea>
    <div class="add-img">
      <input name="file" id="file" type="file" (change)="upload($event)" />
      <label for="file"></label>
      <div class="wrapper">
        <div class="progress" [style.width.%]="uploadPercent"></div>
      </div>
    </div>
    <div class="prev-image" *ngIf="isUploaded">
      <img [src]="valueByControl('imagePath')" />
      <button type="button" class="delete-img" (click)="deleteImage()">
        Видалити
      </button>
    </div>
    <button [disabled]="actionForm.invalid" type="submit">
      <b>ЗБЕРЕГТИ</b>
    </button>
  </form>
  <table>
    <thead>
      <tr>
        <th>Дата</th>
        <th>Назва</th>
        <th>Заголовок</th>
        <th>Опис</th>
        <th>Картинка</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of adminActions">
        <td class="date">{{ data.date }}</td>
        <td class="name">{{ data.name }}</td>
        <td class="title">{{ data.title }}</td>
        <td class="description">
          {{ data.description | slice : 0 : 30 }}
          <span *ngIf="data.description.length > 30">...</span>
        </td>
        <td class="image">
          <img [src]="data.imagePath" />
        </td>
        <td class="actions">
          <p (click)="editAction(data)" class="under">Редагувати</p>
          <p (click)="deleteAction(data)" class="under">Видалити</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
